# Terraform state files
*.tfstate
*.tfstate.*

# Local Terraform directory
.terraform/
**/.terraform/
**/.terraform/*

# Terraform variable files (containing sensitive data)
# You might want to keep an example.tfvars, but exclude others.
# For example, ignore all .tfvars except example.tfvars
*.tfvars
*.tfvars.*
# !example.tfvars

# Saved plan files
*.tfplan

# Crash log files
crash.log
crash.*.log
*crash.log
**/crash.*.log


# Terraform CLI configuration files
.terraformrc
terraform.rc
